<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kitap_tasnif.Properties.Settings.kitap_tasnifConnectionString"
            connectionString="User Id=postgres;Host=localhost;Database=kitap_tasnif;Initial Schema=public"
            providerName="Devart.Data.PostgreSql" />
        <add name="kitap_tasnif.Properties.Settings.kitap_tasnifConnectionStringNEW"
            connectionString="User Id=postgres;Password=123123123;Host=localhost;Database=kitap_tasnif;Persist Security Info=True;Initial Schema=public"
            providerName="Devart.Data.PostgreSql" />
        <add name="kitap_tasnif.Properties.Settings.postgresConnectionString"
            connectionString="User Id=postgres;Password=123123123;Host=localhost;Database=postgres;Initial Schema=public"
            providerName="Devart.Data.PostgreSql" />
        <add name="localhost_kitap_tasnif_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3340;user id=; password=; database=kitap_tasnif;persist security info=true;CharSet=utf8;" />
        <add name="kitap_tasnif.Properties.Settings.kitap_tasnifnew"
            connectionString="server=localhost;user id=root;password=Hakan.033;port=3340;database=kitap_tasnif"
            providerName="MySql.Data.MySqlClient" />
        <add name="localhost_kitap_tasnif_Connection 1" connectionString="XpoProvider=MySql;server=localhost;port=3340;user id=; password=; database=kitap_tasnif;persist security info=true;CharSet=utf8;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>